html {
    background-color: black;
    color: rgba(255, 255, 255, 0.801);
    font-size: 18px;
    font-family: sans-serif;
    width: 80%;
    max-width: 1280px;
    margin: auto;
}
p {
    text-indent: 1px;
}
a {
    color: magenta;
    font-weight: bold;
}
a:hover {
    color: rgb(204, 37, 204);
}
a:visited {
    color: rgba(219, 143, 219, 0.952);
    font-weight:normal;
}
/*intro:*/
h1 {
    font-size: 1.8rem;
    color: rgba(151, 21, 151, 0.671);
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}
h2 {
    font-size: 1.4rem;
    color: black;
    display: inline-block;
}

h3 {
    color: white;
    font-size: 1.2rem;
}
h1, h2,h3 {
    text-align: center;
}
.summary {
    text-align: center;
}
.main p {
    line-height: 1.5;
}
.main p:first-of-type::first-letter {
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float:left;
}
abbr {
    font-variant: small-caps;
}
.intro {
    height: 550px;
}
#design-archives {
    display: none;
}
/*no meu caso eu tenho que deixar o fundo claro e a fonte escura porque background black e font white já é o padrão do meu designe*/
header {
    background-color: rgb(59, 12, 59);
    color: black;
}
aside ul li {
    list-style-type: none;
    margin: 1em;
    text-align: center;
}
footer {
    background-color: rgb(0, 0, 0);
    color: black;
    margin: 4%;
    display:flex;
    justify-content: space-evenly;
     border-color: magenta;
     flex-wrap: wrap;
    }
footer a {
    color: rgb(0, 0, 0);
    background-color: white;
    border: solid 2px magenta;
    padding: 0.5em;
    display: inline-block;
    font-size: large;
    width: 150px;
    text-align: center;
    margin: 5px;
}
.page-wrapper {
    position: relative;
}
.explanation {
    width: 60%;
    margin-right: 35%;
    border-right: 1px #1f295c;
    padding-right: 2%;
}
#design-selection {
    position: absolute;
    top: 460px;
    left: 62%;
    padding-top: 2%;
    border-left: solid rgba(255, 255, 255, 0.582) 1px;
}
#design-selection:last-of-type {
    border-bottom: rgba(255, 255, 255, 0.582) 1px solid;
    padding-bottom: 5px;
}
#design-selection li {
    border: rgba(255, 255, 255, 0.582) 1px solid;
    padding-bottom: 5px;
}
.benefits {
    display: flex;
    border-bottom: solid rgba(255, 255, 255, 0.582) 1px;
    border-top: solid rgba(255, 255, 255, 0.582) 2px;
}
.benefits h3 {
    order: 2;
    align-self: center;
    flex-basis: 30%;
}
.benefits p {
    flex-basis: 70%;
}
.participation {
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid rgba(255, 255, 255, 0.582) 1px;
    border-top: solid rgba(255, 255, 255, 0.582) 2px;
}
.participation h3, .participation p {
    flex-basis: 50%;
}
.participation h3 {
    align-self: center;
}
@media screen and (max-width: 768px) {
    #design-selection {
        position: static;
        width: 100%;
    }
    .explanetion {
        border-right: none;
    width: 100%;
    }
    #zen-intro {
        height: auto;
    }

    .participation {
        flex-direction: column;
    }

    p {
        text-indent: 0;
    }
}
@media print {
    html {
        font-family:serif
    }
    header {
        background-color: white;
        color: black;
    }
    html {
        background-color: white;
    }
    #design-selection {
        position: static;
        width: 100%;
    }
    .explanetion {
        border-right: none;
    width: 100%;
    }
    #zen-intro {
        height: auto;
    }
}
